.cardContainer {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    justify-content: center;
    background-color: lightslategrey;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}