<div class="main-container">
    <div class="button-container">
        <app-button color='#4CAF50' textColor="white" text="Add" (click)="handleAdd()"></app-button>
        <app-button color='#f44336' textColor="white" text="Remove" (click)="handleDelete()"></app-button>
        <app-button color='black' textColor="white" text="Reset" (click)="handleReset()"></app-button>
    </div>
    <div class="cards-main-container">
        <app-todo-card class="card-container" *ngFor = 'let card of cards | slice : 0 : cardsCount'
        [image] = 'card.image'
        [title] = 'card.title'
        [description] = 'card.description'
        [dueDate] = 'card.dueDate' >          
        </app-todo-card>
    </div>
</div>