.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.button-container {
    display: flex;
    justify-content: space-between;
    width: 75%;
    padding: 20px;
}

.cards-main-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

.card-container {
   width: 30%;
   padding-top: 20px;
}